.collem{
    background-color: rgb(123, 126, 104);
    width: 47%;
    margin: 27%;
    padding: 2px;
}#sign{
    text-align: center;
    color:white
}.form{
    padding: 6%;
}#clain{
    width: 30pc;
}span{
    color: brown;
}